@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-roboto : "Roboto",'Sans';
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;              /* Scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background:transparent;    
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.658);   /* Thumb color */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* Adds space around thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;   /* Thumb hover color */
}

/* Firefox support */
